CONFIG_TARGET_ipq60xx=y
CONFIG_TARGET_ipq60xx_generic=y
CONFIG_TARGET_ipq60xx_generic_DEVICE_glinet_gl-ax1800=y
CONFIG_PACKAGE_bash=y
CONFIG_PACKAGE_coreutils=y
CONFIG_PACKAGE_coreutils-base64=y
CONFIG_PACKAGE_coreutils-nohup=y
CONFIG_PACKAGE_ca-bundle=y
CONFIG_PACKAGE_ca-certificates=y
CONFIG_PACKAGE_curl=y
# CONFIG_PACKAGE_dnsmasq is not set
# CONFIG_PACKAGE_dnsmasq-dhcpv6 is not set
CONFIG_PACKAGE_dnsmasq-full=y
CONFIG_PACKAGE_dropbear=y
CONFIG_PACKAGE_libcap=y
CONFIG_PACKAGE_libcap-bin=y
CONFIG_PACKAGE_libcurl=y
CONFIG_PACKAGE_libipset=y
CONFIG_PACKAGE_hd-idle=y
CONFIG_PACKAGE_ip-full=y
CONFIG_PACKAGE_ipset=y
# CONFIG_PACKAGE_ip-tiny is not set
CONFIG_PACKAGE_iptables=y
CONFIG_PACKAGE_iptables-mod-account=y
CONFIG_PACKAGE_iptables-mod-chaos=y
CONFIG_PACKAGE_iptables-mod-condition=y
CONFIG_PACKAGE_iptables-mod-conntrack-extra=y
CONFIG_PACKAGE_iptables-mod-dhcpmac=y
CONFIG_PACKAGE_iptables-mod-extra=y
CONFIG_PACKAGE_iptables-mod-filter=y
CONFIG_PACKAGE_iptables-mod-fullconenat=y
CONFIG_PACKAGE_iptables-mod-hashlimit=y
CONFIG_PACKAGE_iptables-mod-iface=y
CONFIG_PACKAGE_iptables-mod-ipmark=y
CONFIG_PACKAGE_iptables-mod-ipopt=y
CONFIG_PACKAGE_iptables-mod-ipp2p=y
CONFIG_PACKAGE_iptables-mod-iprange=y
CONFIG_PACKAGE_iptables-mod-ipsec=y
CONFIG_PACKAGE_iptables-mod-ipv4options=y
CONFIG_PACKAGE_iptables-mod-nat-extra=y
CONFIG_PACKAGE_iptables-mod-nflog=y
CONFIG_PACKAGE_iptables-mod-nfqueue=y
CONFIG_PACKAGE_iptables-mod-tproxy=y
CONFIG_PACKAGE_iwinfo=y
CONFIG_PACKAGE_kmod-crypto-acompress=y
CONFIG_PACKAGE_kmod-crypto-aead=y
CONFIG_PACKAGE_kmod-crypto-authenc=y
CONFIG_PACKAGE_kmod-crypto-cbc=y
CONFIG_PACKAGE_kmod-crypto-cmac=y
CONFIG_PACKAGE_kmod-crypto-crc32c=y
CONFIG_PACKAGE_kmod-crypto-ctr=y
CONFIG_PACKAGE_kmod-crypto-deflate=y
CONFIG_PACKAGE_kmod-crypto-des=y
CONFIG_PACKAGE_kmod-crypto-ecb=y
CONFIG_PACKAGE_kmod-crypto-echainiv=y
CONFIG_PACKAGE_kmod-crypto-gcm=y
CONFIG_PACKAGE_kmod-crypto-gf128=y
CONFIG_PACKAGE_kmod-crypto-ghash=y
CONFIG_PACKAGE_kmod-crypto-hash=y
CONFIG_PACKAGE_kmod-crypto-hmac=y
CONFIG_PACKAGE_kmod-crypto-iv=y
CONFIG_PACKAGE_kmod-crypto-manager=y
CONFIG_PACKAGE_kmod-crypto-md4=y
CONFIG_PACKAGE_kmod-crypto-md5=y
CONFIG_PACKAGE_kmod-crypto-null=y
CONFIG_PACKAGE_kmod-crypto-pcompress=y
CONFIG_PACKAGE_kmod-crypto-rng=y
CONFIG_PACKAGE_kmod-crypto-seqiv=y
CONFIG_PACKAGE_kmod-crypto-sha1=y
CONFIG_PACKAGE_kmod-crypto-sha256=y
CONFIG_PACKAGE_kmod-crypto-user=y
CONFIG_PACKAGE_kmod-crypto-wq=y
CONFIG_PACKAGE_kmod-cryptodev=y
CONFIG_PACKAGE_kmod-fs-cifs=y
CONFIG_PACKAGE_kmod-ifb=y
CONFIG_PACKAGE_kmod-ip6tables=y
CONFIG_PACKAGE_kmod-ip6tables-extra=y
CONFIG_PACKAGE_kmod-ipt-account=y
CONFIG_PACKAGE_kmod-ipt-chaos=y
CONFIG_PACKAGE_kmod-ipt-compat-xtables=y
CONFIG_PACKAGE_kmod-ipt-condition=y
CONFIG_PACKAGE_kmod-ipt-conntrack=y
CONFIG_PACKAGE_kmod-ipt-conntrack-extra=y
CONFIG_PACKAGE_kmod-ipt-core=y
CONFIG_PACKAGE_kmod-ipt-delude=y
CONFIG_PACKAGE_kmod-ipt-dhcpmac=y
CONFIG_PACKAGE_kmod-ipt-extra=y
CONFIG_PACKAGE_kmod-ipt-filter=y
CONFIG_PACKAGE_kmod-ipt-fullconenat=y
CONFIG_PACKAGE_kmod-ipt-hashlimit=y
CONFIG_PACKAGE_kmod-ipt-iface=y
CONFIG_PACKAGE_kmod-ipt-ipmark=y
CONFIG_PACKAGE_kmod-ipt-ipopt=y
CONFIG_PACKAGE_kmod-ipt-ipp2p=y
CONFIG_PACKAGE_kmod-ipt-iprange=y
CONFIG_PACKAGE_kmod-ipt-ipsec=y
CONFIG_PACKAGE_kmod-ipt-ipset=y
CONFIG_PACKAGE_kmod-ipt-ipv4options=y
CONFIG_PACKAGE_kmod-ipt-nat=y
CONFIG_PACKAGE_kmod-ipt-nat-extra=y
CONFIG_PACKAGE_kmod-ipt-nflog=y
CONFIG_PACKAGE_kmod-ipt-nfqueue=y
CONFIG_PACKAGE_kmod-ipt-offload=y
CONFIG_PACKAGE_kmod-ipt-raw=y
CONFIG_PACKAGE_kmod-ipt-raw6=y
CONFIG_PACKAGE_kmod-ipt-tarpit=y
CONFIG_PACKAGE_kmod-ipt-tproxy=y
CONFIG_PACKAGE_kmod-nf-conntrack=y
CONFIG_PACKAGE_kmod-nf-conntrack-netlink=y
CONFIG_PACKAGE_kmod-nf-conntrack6=y
CONFIG_PACKAGE_kmod-nf-flow=y
CONFIG_PACKAGE_kmod-nf-ipt=y
CONFIG_PACKAGE_kmod-nf-ipt6=y
CONFIG_PACKAGE_kmod-nf-nat=y
CONFIG_PACKAGE_kmod-nf-nat6=y
CONFIG_PACKAGE_kmod-nf-nathelper=y
CONFIG_PACKAGE_kmod-nf-nathelper-extra=y
CONFIG_PACKAGE_kmod-nf-reject=y
CONFIG_PACKAGE_kmod-nf-reject6=y
CONFIG_PACKAGE_kmod-nfnetlink=y
CONFIG_PACKAGE_kmod-nfnetlink-log=y
CONFIG_PACKAGE_kmod-nfnetlink-queue=y
CONFIG_PACKAGE_kmod-nft-core=y
CONFIG_PACKAGE_kmod-nft-nat=y
CONFIG_PACKAGE_kmod-nft-nat6=y
CONFIG_PACKAGE_kmod-nls-utf8=y
CONFIG_PACKAGE_kmod-sched-cake=y
CONFIG_PACKAGE_kmod-sched-connmark=y
CONFIG_PACKAGE_kmod-sched-core=y
CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_libcap=y
CONFIG_PACKAGE_libelf=y
CONFIG_PACKAGE_libiwinfo=y
CONFIG_PACKAGE_libiwinfo-lua=y
CONFIG_PACKAGE_liblua=y
CONFIG_PACKAGE_librt=y
CONFIG_PACKAGE_libubus-lua=y
CONFIG_PACKAGE_libuci-lua=y
CONFIG_PACKAGE_libuuid=y
CONFIG_PACKAGE_libuv=y
CONFIG_PACKAGE_libwebsockets-full=y
CONFIG_PACKAGE_libruby=y
CONFIG_PACKAGE_lua=y
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-app-accesscontrol=y
CONFIG_PACKAGE_luci-app-arpbind=y
CONFIG_PACKAGE_luci-app-autoreboot=y
CONFIG_PACKAGE_luci-app-cifs-mount=y
CONFIG_PACKAGE_luci-app-cpufreq=y
CONFIG_PACKAGE_luci-app-filetransfer=y
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_luci-app-hd-idle=y
CONFIG_PACKAGE_luci-app-qos=y
CONFIG_PACKAGE_luci-app-ramfree=y
# CONFIG_PACKAGE_luci-app-sqm is not set
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-vsftpd=y
CONFIG_PACKAGE_luci-app-wifischedule=y
CONFIG_PACKAGE_luci-base=y
CONFIG_PACKAGE_luci-compat=y
CONFIG_PACKAGE_luci-i18n-accesscontrol-zh-cn=y
CONFIG_PACKAGE_luci-i18n-arpbind-zh-cn=y
CONFIG_PACKAGE_luci-i18n-autoreboot-zh-cn=y
CONFIG_PACKAGE_luci-i18n-base-zh-cn=y
CONFIG_PACKAGE_luci-i18n-cifs-mount-zh-cn=y
CONFIG_PACKAGE_luci-i18n-cpufreq-zh-cn=y
CONFIG_PACKAGE_luci-i18n-filetransfer-zh-cn=y
CONFIG_PACKAGE_luci-i18n-firewall-zh-cn=y
CONFIG_PACKAGE_luci-i18n-hd-idle-zh-cn=y
CONFIG_PACKAGE_luci-i18n-qos-zh-cn=y
CONFIG_PACKAGE_luci-i18n-ramfree-zh-cn=y
CONFIG_PACKAGE_luci-i18n-sqm-zh-cn=y
CONFIG_PACKAGE_luci-i18n-ttyd-zh-cn=y
CONFIG_PACKAGE_luci-i18n-upnp-zh-cn=y
CONFIG_PACKAGE_luci-i18n-vsftpd-zh-cn=y
CONFIG_PACKAGE_luci-i18n-wifischedule-zh-cn=y
CONFIG_PACKAGE_luci-lib-fs=y
CONFIG_PACKAGE_luci-lib-ip=y
CONFIG_PACKAGE_luci-lib-jsonc=y
CONFIG_PACKAGE_luci-lib-nixio=y
CONFIG_PACKAGE_luci-mod-admin-full=y
CONFIG_PACKAGE_luci-proto-ppp=y
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-theme-argon-mod=y
CONFIG_PACKAGE_luci-theme-bootstrap=y
CONFIG_PACKAGE_luci-theme-bootstrap-mod=y
CONFIG_PACKAGE_miniupnpd=y
CONFIG_PACKAGE_qos-scripts=y
CONFIG_PACKAGE_rpcd=y
CONFIG_PACKAGE_rpcd-mod-rrdns=y
CONFIG_PACKAGE_ruby=y
# CONFIG_PACKAGE_sqm-scripts is not set
CONFIG_PACKAGE_tc=y
CONFIG_PACKAGE_ttyd=y
CONFIG_PACKAGE_uhttpd=y
CONFIG_PACKAGE_uhttpd-mod-ubus=y
CONFIG_PACKAGE_vsftpd=y
CONFIG_PACKAGE_wifischedule=y
CONFIG_PACKAGE_zlib=y
# CONFIG_TARGET_ath79_generic is not set
# CONFIG_TARGET_ath79_generic_DEVICE_8dev_carambola2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_aruba_ap-105 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_avm_fritz300e is not set
# CONFIG_TARGET_ath79_generic_DEVICE_avm_fritz4020 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_buffalo_bhr-4grv is not set
# CONFIG_TARGET_ath79_generic_DEVICE_buffalo_bhr-4grv2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_buffalo_wzr-hp-ag300h is not set
# CONFIG_TARGET_ath79_generic_DEVICE_buffalo_wzr-hp-g302h-a1a0 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_buffalo_wzr-hp-g450h is not set
# CONFIG_TARGET_ath79_generic_DEVICE_comfast_cf-e110n-v2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_comfast_cf-e120a-v3 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_comfast_cf-e5 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_devolo_dvl1200e is not set
# CONFIG_TARGET_ath79_generic_DEVICE_devolo_dvl1200i is not set
# CONFIG_TARGET_ath79_generic_DEVICE_devolo_dvl1750c is not set
# CONFIG_TARGET_ath79_generic_DEVICE_devolo_dvl1750e is not set
# CONFIG_TARGET_ath79_generic_DEVICE_devolo_dvl1750i is not set
# CONFIG_TARGET_ath79_generic_DEVICE_devolo_dvl1750x is not set
# CONFIG_TARGET_ath79_generic_DEVICE_dlink_dir-825-b1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_dlink_dir-825-c1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_dlink_dir-835-a1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_dlink_dir-859-a1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_elecom_wrc-1750ghbk2-i is not set
# CONFIG_TARGET_ath79_generic_DEVICE_elecom_wrc-300ghbk2-i is not set
# CONFIG_TARGET_ath79_generic_DEVICE_embeddedwireless_dorin is not set
# CONFIG_TARGET_ath79_generic_DEVICE_engenius_ecb1750 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_engenius_epg5000 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_engenius_ews511ap is not set
# CONFIG_TARGET_ath79_generic_DEVICE_etactica_eg200 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_glinet_gl-ar150 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_glinet_gl-ar300m-lite is not set
# CONFIG_TARGET_ath79_generic_DEVICE_glinet_gl-x750 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_iodata_etg3-r is not set
# CONFIG_TARGET_ath79_generic_DEVICE_iodata_wn-ac1167dgr is not set
# CONFIG_TARGET_ath79_generic_DEVICE_iodata_wn-ac1600dgr is not set
# CONFIG_TARGET_ath79_generic_DEVICE_iodata_wn-ac1600dgr2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_iodata_wn-ag300dgr is not set
# CONFIG_TARGET_ath79_generic_DEVICE_jjplus_ja76pf2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_librerouter_librerouter-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_nec_wg1200cr is not set
# CONFIG_TARGET_ath79_generic_DEVICE_nec_wg800hp is not set
# CONFIG_TARGET_ath79_generic_DEVICE_netgear_ex6400 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_netgear_ex7300 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_netgear_wndr3700 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_netgear_wndr3700v2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_netgear_wndr3800 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ocedo_koala is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ocedo_raccoon is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ocedo_ursus is not set
# CONFIG_TARGET_ath79_generic_DEVICE_openmesh_om5p-ac-v2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_pcs_cap324 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_pcs_cr3000 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_pcs_cr5000 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_phicomm_k2t is not set
# CONFIG_TARGET_ath79_generic_DEVICE_pisen_wmm003n is not set
# CONFIG_TARGET_ath79_generic_DEVICE_rosinson_wr818 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-a7-v5 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c2-v3 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c25-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c5-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c58-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c59-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c6-v2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c60-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c60-v2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c60-v3 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c7-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c7-v2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c7-v4 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c7-v5 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-d50-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_cpe210-v2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_cpe210-v3 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_cpe220-v3 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_re350k-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_re450-v2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wdr3500-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wdr3600-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wdr4300-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wdr4300-v1-il is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wdr4310-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wdr4900-v2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wr1043n-v5 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wr1043nd-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wr1043nd-v2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wr1043nd-v3 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wr1043nd-v4 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wr2543-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wr710n-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wr710n-v2.1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wr810n-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wr810n-v2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wr842n-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wr842n-v2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wr842n-v3 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_acb-isp is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_airrouter is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_bullet-m is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_bullet-m-xw is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_lap-120 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_nanobeam-ac is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_nanostation-ac is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_nanostation-ac-loco is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_nanostation-loco-m is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_nanostation-loco-m-xw is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_nanostation-m is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_nanostation-m-xw is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_picostation-m is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_rocket-m is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_routerstation is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_routerstation-pro is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_unifi is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_unifiac-lite is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_unifiac-lr is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_unifiac-mesh is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_unifiac-mesh-pro is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_unifiac-pro is not set
# CONFIG_TARGET_ath79_generic_DEVICE_wd_mynet-n750 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_wd_mynet-wifi-rangeextender is not set
# CONFIG_TARGET_ath79_generic_DEVICE_winchannel_wb2000 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_xiaomi_mi-router-4q is not set
# CONFIG_TARGET_ath79_generic_DEVICE_yuncore_a770 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_yuncore_a782 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_yuncore_xd4200 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_zbtlink_zbt-wd323 is not set
# CONFIG_TARGET_ath79_generic_Default is not set
# CONFIG_TARGET_ath79_nand is not set
# CONFIG_TARGET_ath79_tiny is not set
